body {
  font-family: Roboto, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
  font-size: 38px;
  line-height: 44px;
  font-weight: 300;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
  font-size: 32px;
  line-height: 36px;
  font-weight: 300;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
}

p {
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

.h1-hero {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #333;
  font-size: 5vh;
  line-height: 4vh;
  font-weight: 700;
  text-align: center;
  letter-spacing: -1px;
  text-transform: none;
}

.h2-hero {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
  font-size: 3vh;
  line-height: 3vh;
  font-weight: 700;
  text-align: center;
  letter-spacing: 6px;
}

.h2-hero.black {
  margin-top: 20px;
  margin-bottom: 30px;
  color: #000;
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
}

.service-name {
  position: absolute;
  z-index: 2;
  padding: 20px;
  border-radius: 15px;
}

.service-name._1 {
  position: relative;
  right: 0px;
  bottom: 0px;
  display: none;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#50bfd1), to(#50bfd1));
  background-image: linear-gradient(180deg, #50bfd1, #50bfd1);
}

.scene-container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40vw;
  height: 100%;
  min-width: 40vw;
  margin-right: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(70%, rgba(255, 175, 234, 0)), to(#ffafea)), url('../images/sweet-bakery.jpg');
  background-image: linear-gradient(180deg, rgba(255, 175, 234, 0) 70%, #ffafea), url('../images/sweet-bakery.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.scene-container._2 {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(70%, rgba(255, 175, 234, 0)), to(#ffafea)), url('../images/sweet-bakery-2.jpg');
  background-image: linear-gradient(180deg, rgba(255, 175, 234, 0) 70%, #ffafea), url('../images/sweet-bakery-2.jpg');
}

.scene-container._3 {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(70%, rgba(255, 175, 234, 0)), to(#ffafea)), url('../images/sweet-bakery-3.jpg');
  background-image: linear-gradient(180deg, rgba(255, 175, 234, 0) 70%, #ffafea), url('../images/sweet-bakery-3.jpg');
}

.tale-container {
  position: relative;
  top: 0px;
  overflow: scroll;
  width: 100%;
  height: 100%;
}

.tales {
  position: relative;
  width: 100%;
  height: 80vh;
  margin-bottom: 0px;
}

.tales.stores {
  height: 100%;
  min-height: 520px;
  margin-bottom: 59px;
}

.tale-scroll-track {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
}

.tale-track {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.tale-track.store {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.center-mini-section {
  display: block;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;
  text-align: center;
}

.body {
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

.welcome {
  margin-top: 60px;
  margin-bottom: 60px;
}

.store-container {
  position: relative;
  display: block;
  min-height: 520px;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.store-thumb {
  width: 300px;
  margin-bottom: 10px;
}

.img-store {
  border-radius: 10px;
}

.h2-store-name {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #000;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: left;
  letter-spacing: 1px;
}

.logo-cont {
  position: relative;
  z-index: 3;
  width: 200px;
  margin-top: -95px;
}

.logo-cont._2 {
  width: 270px;
  margin-top: auto;
  margin-bottom: auto;
}

.text-cont {
  padding: 20px 50px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.text-cont._3 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.text-cont._4 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.page-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.page-container._2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.page-container._3 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.page-container._4 {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.h1-sweet-bakery {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-family: Salient, sans-serif;
  color: #69bcf0;
  font-size: 84px;
  line-height: 50px;
  font-weight: 400;
}

.h1-sweet-bakery._2 {
  text-align: center;
}

.h1-sweet-bakery._3 {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.heading {
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

.heading.basic {
  font-family: 'Changa One', Impact, sans-serif;
  color: #774830;
  font-size: 50px;
}

.heading.basic.h2 {
  font-size: 26px;
}

.heading.h2-home {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  z-index: 2;
  margin-top: -10px;
  padding: 10px;
  border-radius: 0px 5px 5px 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(191, 255, 250, 0.85)), to(rgba(191, 255, 250, 0.85)));
  background-image: linear-gradient(180deg, rgba(191, 255, 250, 0.85), rgba(191, 255, 250, 0.85));
  box-shadow: 0 4px 0 0 rgba(154, 194, 199, 0.1);
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.heading.h3-footer {
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.heading.home {
  margin-bottom: 30px;
  font-family: Salient, sans-serif;
  font-size: 90px;
  line-height: 60px;
  text-align: left;
}

.heading.home.center {
  text-align: center;
}

.h2-sweet {
  color: #e05ec2;
  font-size: 28px;
  line-height: 34px;
  font-weight: 100;
  letter-spacing: 2px;
}

.ico-sweet-bakery {
  margin-right: auto;
  margin-left: auto;
}

.ico-wrapper {
  width: 200px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  text-align: center;
}

.ico-wrapper.bigger {
  width: 260px;
}

.products {
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.products.sweet-bakery {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fffafd), to(#fffafd));
  background-image: linear-gradient(180deg, #fffafd, #fffafd);
}

.products.ambrosia {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #fcf8eb), to(#e6e0c9));
  background-image: linear-gradient(180deg, #fcf8eb 50%, #e6e0c9);
}

.products.custom-mug-style {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#edf7ff), to(#bfe3ff));
  background-image: linear-gradient(180deg, #edf7ff, #bfe3ff);
}

.products.beauty-lashes-ka {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e0acca), color-stop(80%, #ffecc2));
  background-image: linear-gradient(180deg, #e0acca, #ffecc2 80%);
}

.products.dianitamado {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffe7e7), to(#c7bff8));
  background-image: linear-gradient(180deg, #ffe7e7, #c7bff8);
}

.products.ocean-soul {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ddefff), to(#92badd));
  background-image: linear-gradient(180deg, #ddefff, #92badd);
}

.products.angel-sweet {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eff6ff), to(#aab5c2));
  background-image: linear-gradient(180deg, #eff6ff, #aab5c2);
}

.products.marce-cakes {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eff4ff), to(#b3c3df));
  background-image: linear-gradient(180deg, #eff4ff, #b3c3df);
}

.products.sweet-purpose {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #e4feff), to(#ccf4f5));
  background-image: linear-gradient(180deg, #e4feff 1%, #ccf4f5);
}

.products.young-lineage {
  background-image: radial-gradient(circle farthest-corner at 50% 50%, #ff377f 67%, #f81d53);
}

.products.latin-cravings {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffdee3), to(#ffdee3));
  background-image: linear-gradient(180deg, #ffdee3, #ffdee3);
}

.price {
  font-weight: 700;
}

.product-wrapper {
  display: -ms-grid;
  display: grid;
  margin-bottom: 30px;
  padding: 30px;
  grid-auto-columns: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 15px;
  -ms-grid-columns: 0.5fr 1fr;
  grid-template-columns: 0.5fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border-radius: 20px;
  background-color: #fff;
}

.product-wrapper._2 {
  grid-row-gap: 30px;
  -ms-grid-columns: 1fr 0.5fr;
  grid-template-columns: 1fr 0.5fr;
}

.product-wrapper._3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.img-product {
  width: 100%;
  border-radius: 0px;
}

.img-pr-wrapper {
  width: 100%;
}

.p-owner {
  padding-top: 10px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-weight: 100;
  letter-spacing: 0.5px;
}

.hero-store {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 0.75fr 1fr;
  grid-template-columns: 0.75fr 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.owner {
  padding: 20px 30px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  background-color: #384457;
}

.hero-social {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  padding-left: 0px;
  background-image: url('../images/facebook.png');
  background-position: 50% 50%;
  background-size: cover;
}

.hero-social.insta {
  background-image: url('../images/insta.png');
}

.hero-social.whatsapp {
  background-image: url('../images/whatsapp.png');
}

.hero-social.linkedin {
  background-image: url('../images/linkedin.png');
}

.hero-social.facebook {
  margin-left: 0px;
}

.store-owner {
  color: #fff;
  font-size: 40px;
  line-height: 45px;
  font-weight: 400;
  text-align: left;
}

.store-owner.sweet-bakery {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Salient, sans-serif;
  font-size: 90px;
}

.hero-avatar {
  width: 80px;
  margin-right: 20px;
  padding-right: 0px;
  border-radius: 50%;
}

.h6-owner {
  font-family: Roboto, sans-serif;
  color: #fff;
  font-weight: 300;
  letter-spacing: 2px;
}

.cta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.sweet-bakery-btn {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  background-color: #e05ec2;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.navbar {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #000;
}

.navbar.detail {
  position: -webkit-sticky;
  position: sticky;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: rgba(0, 0, 0, 0.7);
}

.our-logo {
  font-family: Roboto, sans-serif;
  color: #fff;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.arrow-icon {
  width: 40px;
  height: 40px;
  min-height: 40px;
  min-width: 40px;
  padding: 10px;
}

.container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.navbar-cont {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.tales-basic {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.tales-basic-slider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70vh;
  max-width: 940px;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.tales-basic-slider.full-width {
  max-width: none;
}

.tales-basic-slide {
  width: 100%;
  height: 100%;
}

.basic-scene-cont {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 940px;
  height: 100%;
  margin-right: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-image: url('../images/empanadas-02.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.basic-scene-cont._3 {
  background-image: url('../images/empanadas-03.jpg');
  background-position: 50% 100%;
}

.container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.basic-btn {
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 10px 40px;
  border-radius: 5px;
  background-color: #088f11;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.p-store-excerpt {
  margin-top: 10px;
}

.store-category {
  display: inline-block;
  margin-right: 5px;
  padding: 5px 15px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(100, 211, 211, 0.3)), to(rgba(100, 211, 211, 0.3)));
  background-image: linear-gradient(180deg, rgba(100, 211, 211, 0.3), rgba(100, 211, 211, 0.3));
  color: #000;
  font-size: 11px;
  line-height: 11px;
  text-decoration: none;
  text-transform: uppercase;
}

.store-category:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(100, 211, 211, 0.5)), to(rgba(100, 211, 211, 0.5)));
  background-image: linear-gradient(180deg, rgba(100, 211, 211, 0.5), rgba(100, 211, 211, 0.5));
}

.store-category:focus {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(100, 211, 211, 0.5)), to(rgba(100, 211, 211, 0.5)));
  background-image: linear-gradient(180deg, rgba(100, 211, 211, 0.5), rgba(100, 211, 211, 0.5));
}

.store-category-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  padding-left: 0px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  list-style-type: none;
}

.store-cat-tag-wrapper {
  display: none;
}

.footer {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(#000));
  background-image: linear-gradient(180deg, #000, #000);
}

.p-footer {
  color: silver;
  letter-spacing: 0.5px;
}

.p-footer.copy {
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0.2)), to(hsla(0, 0%, 100%, 0.2)));
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.2), hsla(0, 0%, 100%, 0.2));
  text-align: center;
}

.footer-col-wrapper {
  padding: 20px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.footer-cont {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.search-input {
  height: 30px;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 5px;
}

.search-button {
  height: 30px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 5px;
  background-color: #414141;
}

.footer-a {
  color: #8d8c8c;
  text-decoration: underline;
}

.footer-a:hover {
  color: #fff;
}

.left-mini-section {
  display: block;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;
  text-align: left;
}

.slider-product {
  height: auto;
}

.slide-nav {
  display: none;
}

.city {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: auto;
  padding-bottom: 10px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  transform: rotate(-4deg);
  font-family: Salient, sans-serif;
  color: #fff;
  font-size: 44px;
  line-height: 44px;
  font-weight: 400;
  text-align: right;
  letter-spacing: 0.5px;
}

.slide-img-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 940px;
  height: 100%;
  margin-right: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.slide-img-wrapper.full-width {
  width: 100%;
}

.slide-img-wrapper.buttom {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.round-logo {
  border-radius: 50%;
}

.round-logo.shadow {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}

.ambrosia-logo-cont {
  position: relative;
  z-index: 3;
  width: 200px;
  margin-top: -95px;
}

.hero-slide-img {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -o-object-fit: cover;
  object-fit: cover;
}

.h1-ambrosia {
  font-family: 'Black Han Sans', sans-serif;
  color: #b4633a;
  font-size: 40px;
}

.h1-ambrosia._2 {
  margin-bottom: 40px;
  text-align: center;
}

.h1-ambrosia._3 {
  font-size: 30px;
  line-height: 40px;
}

.h2-ambrosia {
  color: #8f4d2b;
  font-size: 22px;
  line-height: 28px;
}

.ambrosia-btn {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  background-color: #b4633a;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.h1-custom-mug-style {
  font-family: Rancho, sans-serif;
  color: #e3534b;
  font-size: 60px;
  font-weight: 400;
}

.h1-custom-mug-style._2 {
  margin-bottom: 40px;
  font-weight: 400;
  text-align: center;
}

.h2-custom-mug-style {
  color: #008fff;
  font-size: 28px;
  line-height: 34px;
}

.custom-mug-style-btn {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  background-color: #e3534b;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.cta-cont {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.h1-beauty-lashes-ka {
  margin-top: 10px;
  font-family: Rancho, sans-serif;
  color: #b43ab0;
  font-size: 50px;
  line-height: 40px;
  font-weight: 400;
}

.h1-beauty-lashes-ka._2 {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.h2-beauty-lashes-ka {
  margin-bottom: 20px;
  color: #b43ab0;
  font-size: 22px;
  line-height: 28px;
}

.list-bullet-check {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.p-list-bullet {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
  font-weight: 400;
}

.beauty-lashes-ka-btn {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  background-color: #b43ab0;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.h1-dianitamado {
  font-family: Chewy, sans-serif;
  color: #6c5cc9;
  font-size: 45px;
  line-height: 45px;
  letter-spacing: 2px;
}

.h1-dianitamado._2 {
  margin-bottom: 40px;
  color: #6c5cc9;
  text-align: center;
  letter-spacing: 2px;
}

.h1-dianitamado._3 {
  font-size: 35px;
  line-height: 42px;
}

.h2-dianitamado {
  color: #5c548a;
  font-size: 22px;
  line-height: 28px;
}

.h2-dianitamado._2 {
  font-family: Chewy, sans-serif;
  color: #6c5cc9;
  font-size: 30px;
  line-height: 34px;
  font-weight: 400;
  letter-spacing: 2px;
}

.dianitamado-btn {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  background-color: #b439af;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.ico-round-shadow {
  border-radius: 10px;
  box-shadow: 1px 1px 3px 0 rgba(82, 37, 99, 0.2);
}

.h1-ocean-soul {
  font-family: Salient, sans-serif;
  color: #191855;
  font-size: 90px;
  line-height: 52px;
  font-weight: 400;
}

.h1-ocean-soul._2 {
  margin-bottom: 40px;
  font-weight: 400;
  text-align: center;
}

.h2-ocean-soul {
  color: #e26e6e;
  font-size: 28px;
  line-height: 34px;
}

.ocean-soul-btn {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  background-color: #e34b62;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.h1-angel-sweet {
  margin-bottom: 0px;
  font-family: 'Great Vibes', cursive;
  color: #000;
  font-size: 60px;
  line-height: 60px;
}

.h1-angel-sweet._2 {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.h2-angel-sweet {
  margin-top: 10px;
  color: #ff567b;
  font-size: 22px;
  line-height: 28px;
}

.h2-angel-sweet._2 {
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: 'Great Vibes', cursive;
  color: #000;
  font-size: 40px;
  line-height: 34px;
  font-weight: 400;
  letter-spacing: 2px;
}

.angel-sweet-btn {
  margin-top: 10px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  background-color: #ff567b;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.h1-marce-cakes {
  font-family: Rancho, sans-serif;
  color: #1d1b86;
  font-size: 54px;
  line-height: 48px;
  font-weight: 400;
}

.h1-marce-cakes._2 {
  margin-bottom: 40px;
  color: #1d1b86;
  font-weight: 400;
  text-align: center;
}

.h2-marce-cakes {
  color: #b439af;
  font-size: 22px;
  line-height: 30px;
}

.h2-marce-cakes._2 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: Rancho, sans-serif;
  color: #1d1b86;
  font-size: 42px;
  line-height: 44px;
}

.marce-cakes-btn {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  background-color: #4f31d1;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.h1-sweet-purpose {
  font-family: Chewy, sans-serif;
  color: #712aa3;
  font-size: 48px;
  line-height: 52px;
  font-weight: 400;
  letter-spacing: 1px;
}

.h1-sweet-purpose._2 {
  margin-bottom: 40px;
  font-weight: 400;
  text-align: center;
}

.h2-sweet-purpose {
  color: #1ca0a3;
  font-size: 20px;
  line-height: 28px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.h2-sweet-purpose._2 {
  font-family: Chewy, sans-serif;
  color: #712aa3;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.sweet-purpose-btn {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  background-color: #712aa3;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.h1-young-lineage {
  font-family: 'Permanent Marker', sans-serif;
  color: #000;
  font-size: 52px;
}

.h1-young-lineage._2 {
  margin-bottom: 40px;
  text-align: center;
}

.h1-young-lineage._3 {
  margin-bottom: 0px;
  font-size: 38px;
  line-height: 40px;
}

.h2-young-lineage {
  color: #1832f8;
  font-size: 22px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.young-lineage-btn {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  background-color: #000;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.h1-latin-cravings {
  font-family: 'Black Han Sans', sans-serif;
  color: #ec3450;
  font-size: 40px;
}

.h1-latin-cravings._2 {
  margin-bottom: 40px;
  text-align: center;
}

.h1-latin-cravings._3 {
  font-size: 30px;
  line-height: 40px;
}

.h2-latin-cravings {
  color: #8f4d2b;
  font-size: 22px;
  line-height: 28px;
}

.latin-cravings-btn {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  background-color: #b4633a;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.p-home {
  text-align: left;
}

.p-home._2 {
  font-weight: 700;
}

.img-coming-soon {
  border-radius: 50%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
}

.coming-soon-cont {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 991px) {
  .scene-container {
    display: block;
    width: 100vw;
    margin-right: 10px;
    margin-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 0px;
    -ms-grid-columns: 2.25fr 2.75fr 1fr;
    grid-template-columns: 2.25fr 2.75fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .tale-container {
    height: 70vh;
  }
  .tale-container.store-wrapper {
    height: auto;
  }
  .tales {
    height: 70vh;
  }
  .tales.stores {
    height: 50vh;
    min-height: auto;
  }
  .tale-track {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .tale-track.store {
    height: auto;
  }
  .store-container {
    min-height: 50vh;
    min-width: 40vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 0px;
    -ms-grid-columns: 2.25fr 2.75fr 1fr;
    grid-template-columns: 2.25fr 2.75fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .store-thumb {
    width: 100%;
  }
  .ico-wrapper.bigger {
    margin-right: auto;
    margin-left: auto;
  }
  .navbar {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .navbar-cont {
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .tales-basic-slider {
    max-width: none;
  }
  .basic-scene-cont {
    display: block;
    width: 100vw;
    margin-right: 10px;
    margin-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 0px;
    -ms-grid-columns: 2.25fr 2.75fr 1fr;
    grid-template-columns: 2.25fr 2.75fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .basic-btn {
    padding-top: 19px;
    padding-bottom: 19px;
  }
  .slide-img-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    margin-right: 10px;
    margin-left: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 0px;
    -ms-grid-columns: 2.25fr 2.75fr 1fr;
    grid-template-columns: 2.25fr 2.75fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .hero-slide-img {
    margin-right: auto;
    margin-left: auto;
  }
  .cta-cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .service-name._1 {
    position: absolute;
  }
  .scene-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 0px;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .store-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-width: 60vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 0px;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .text-cont {
    padding-right: 20px;
    padding-left: 20px;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    text-align: center;
  }
  .text-cont._2 {
    padding-right: 0px;
    text-align: left;
  }
  .text-cont.basic {
    text-align: left;
  }
  .page-container {
    padding-right: 20px;
    padding-left: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .page-container._2 {
    text-align: left;
  }
  .page-container._4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .product-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .product-desc.middle {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .navbar-cont {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .basic-scene-cont {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 0px;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .basic-btn {
    display: block;
    margin-right: 20px;
    margin-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    font-size: 16px;
    text-align: center;
  }
  .slider-product {
    margin-top: 25px;
  }
  .city {
    right: 2px;
  }
  .slide-img-wrapper {
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 0px;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .coming-soon-cont {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
}

@media screen and (max-width: 479px) {
  .h2-hero {
    font-size: 2vh;
    line-height: 2vh;
  }
  .h2-hero.black {
    text-align: center;
  }
  .service-name._1 {
    left: auto;
    top: auto;
    right: 0%;
    bottom: 0px;
  }
  .scene-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 80vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .tale-track.page {
    width: 240vw;
  }
  .welcome.home {
    margin-top: 35px;
    margin-bottom: 35px;
  }
  .store-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 71vw;
    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .h2-store-name {
    font-size: 18px;
    line-height: 20px;
  }
  .page-container._2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .p-owner {
    position: static;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Lato, sans-serif;
    font-size: 13px;
    font-weight: 300;
  }
  .hero-store {
    display: block;
    padding-bottom: 0px;
    grid-auto-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 0.25fr 1fr;
    grid-template-columns: 0.25fr 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
  .hero-social {
    margin-right: 10px;
    margin-left: 0px;
    padding-left: 0px;
  }
  .store-owner {
    margin-top: 10px;
  }
  .store-owner.sweet-bakery {
    margin-bottom: 20px;
  }
  .hero-avatar {
    width: 80px;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .h6-owner {
    margin-top: 20px;
  }
  .cta {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .brand {
    padding-right: 10px;
  }
  .basic-scene-cont {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .footer-cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .city {
    font-size: 40px;
    line-height: 40px;
  }
  .coming-soon-cont {
    display: -ms-grid;
    display: grid;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
}

#w-node-9a66a06ac283-5158210f {
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-e3c3d624ce9d-5158210f {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-a7706e6550c7-5158210f {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-a8e7363fe674-5158210f {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-34ba4962d309-4962d306 {
  -ms-grid-column-align: end;
  justify-self: end;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-34ba4962d30a-4962d306 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-34ba4962d30c-4962d306 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
}

#w-node-34ba4962d310-4962d306 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
}

#w-node-50d50a3bd31d-bb3acc67 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-50d50a3bd326-bb3acc67 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-50d50a3bd334-bb3acc67 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-50d50a3bd355-bb3acc67 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-7e24dca5a4a4-bb3acc67 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-7e24dca5a4af-bb3acc67 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-d3c2225ec374-bb3acc67 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-d3c2225ec37f-bb3acc67 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-bc4c951a619e-bb3acc67 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-bc4c951a61a7-bb3acc67 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-1d7a3e17f7ba-bb3acc67 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-1d7a3e17f7c5-bb3acc67 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-81814e1ce9f5-bb3acc67 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-81814e1ce9fe-bb3acc67 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-733bb6132cda-bb3acc67 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-733bb6132ce9-bb3acc67 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-50d50a3bd31d-9add9b8f {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-50d50a3bd326-9add9b8f {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-50d50a3bd334-9add9b8f {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-50d50a3bd355-9add9b8f {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-7e24dca5a4a4-9add9b8f {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-7e24dca5a4af-9add9b8f {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-d3c2225ec374-9add9b8f {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-d3c2225ec37f-9add9b8f {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-bc4c951a619e-9add9b8f {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-bc4c951a61a7-9add9b8f {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-1d7a3e17f7ba-9add9b8f {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-1d7a3e17f7c5-9add9b8f {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-81814e1ce9f5-9add9b8f {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-81814e1ce9fe-9add9b8f {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-31021080f124-81e5b000 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-50d50a3bd31d-81e5b000 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-50d50a3bd326-81e5b000 {
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
}

#w-node-50d50a3bd31d-8bdfb207 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-50d50a3bd326-8bdfb207 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-50d50a3bd334-8bdfb207 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-50d50a3bd355-8bdfb207 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-50d50a3bd318-eff2ecf6 {
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
}

#w-node-50d50a3bd31c-eff2ecf6 {
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
}

#w-node-50d50a3bd326-eff2ecf6 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-50d50a3bd355-eff2ecf6 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-7e24dca5a4af-eff2ecf6 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-d3c2225ec37f-eff2ecf6 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-50d50a3bd31d-f2b4887c {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-50d50a3bd326-f2b4887c {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-50d50a3bd334-f2b4887c {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-50d50a3bd355-f2b4887c {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-50d50a3bd31d-853e73a4 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-50d50a3bd326-853e73a4 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-1a1cb567ac68-853e73a4 {
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
}

#w-node-1a1cb567ac69-853e73a4 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-6135355927ec-853e73a4 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-6135355927ed-853e73a4 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-6135355927f0-853e73a4 {
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
}

#w-node-6135355927dc-853e73a4 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-6135355927fe-853e73a4 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-50d50a3bd31d-7be4dc0a {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-50d50a3bd329-7be4dc0a {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-50d50a3bd334-7be4dc0a {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-50d50a3bd358-7be4dc0a {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-7e24dca5a4a4-7be4dc0a {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-7e24dca5a4b2-7be4dc0a {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-d3c2225ec374-7be4dc0a {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-d3c2225ec382-7be4dc0a {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-bc4c951a619e-7be4dc0a {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-bc4c951a61aa-7be4dc0a {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-1d7a3e17f7ba-7be4dc0a {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-1d7a3e17f7c8-7be4dc0a {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-81814e1ce9f5-7be4dc0a {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-81814e1cea01-7be4dc0a {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-50d50a3bd31d-ae269f45 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-50d50a3bd326-ae269f45 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-50d50a3bd31d-cb798056 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-50d50a3bd329-cb798056 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-e76c37e5c755-cb798056 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-e76c37e5c760-cb798056 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-9567b3179cd5-cb798056 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-9567b3179cdd-cb798056 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-0c3fe3fc3bb3-cb798056 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-0c3fe3fc3bb9-cb798056 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

@media screen and (max-width: 991px) {
  #w-node-9a66a06ac283-5158210f {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-column-span: 1;
    grid-column-end: 4;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

@media screen and (max-width: 479px) {
  #w-node-34ba4962d308-4962d306 {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }
  #w-node-34ba4962d30c-4962d306 {
    -ms-grid-row-align: auto;
    align-self: auto;
    -ms-grid-column-align: auto;
    justify-self: auto;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
    -ms-grid-row: 3;
    grid-row-start: 3;
  }
}

@font-face {
  font-family: 'Salient';
  src: url('../fonts/SalientRegular.ttf') format('truetype'), url('../fonts/Salient.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}