<style>

.tale-scroll-track ::-webkit-scrollbar {
  display: none;
}
.tale-container {
  overflow-y: hidden; /* Hide vertical scrollbar */
}

@media screen and (min-width: 991px) {

/* width */
.tale-scroll-track ::-webkit-scrollbar {
  width: 10px;
    display: inline;
}

/* Track */
.tale-scroll-track ::-webkit-scrollbar-track {
  background-color: transparent !important;
}
 
/* Handle */
.tale-scroll-track ::-webkit-scrollbar-thumb {
  background: #3f4546;
border-radius: 10px;
   transition: all 0.5s ease;

}

/* Handle on hover */
.tale-scroll-track ::-webkit-scrollbar-thumb:hover {
  background: #2f3131; 
     transition: all 0.5s ease;
}
    
.form-btn {
    background-color: black;
    color: white;
    letter-spacing: 2px;
    border-radius: 5px;
}

}

/*custom additional CSS*/

.w-nav-button {display:none !important;}

@media screen and (max-width: 991px) {
	.navbar-cont {
		padding: 10px;
	}
}

/* webflow.css */

body {
    margin: 0;
    min-height: 100%;
    background-color: #fff;
    color: #333;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 300;
    line-height: 20px;
    font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin-bottom: 10px;
}
</style>