.h1-hero {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #333;
  font-size: 5vh;
  line-height: 4vh;
  font-weight: 700;
  text-align: center;
  letter-spacing: -1px;
  text-transform: none;
}

.h2-hero {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
  font-size: 3vh;
  line-height: 3vh;
  font-weight: 700;
  text-align: center;
  letter-spacing: 6px;
}

.service-name {
  position: absolute;
  z-index: 2;
  padding: 20px;
  border-radius: 15px;
}

.service-name._1 {
  position: relative;
  right: 0px;
  bottom: 0px;
  display: none;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#50bfd1), to(#50bfd1));
  background-image: linear-gradient(180deg, #50bfd1, #50bfd1);
}

.scene-container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40vw;
  height: 100%;
  min-width: 40vw;
  margin-right: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(70%, rgba(255, 175, 234, 0)), to(#ffafea)), url('../images/sweet-bakery.jpg');
  background-image: linear-gradient(180deg, rgba(255, 175, 234, 0) 70%, #ffafea), url('../images/sweet-bakery.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.scene-container._2 {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(70%, rgba(255, 175, 234, 0)), to(#ffafea)), url('../images/sweet-bakery-2.jpg');
  background-image: linear-gradient(180deg, rgba(255, 175, 234, 0) 70%, #ffafea), url('../images/sweet-bakery-2.jpg');
}

.scene-container._3 {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(70%, rgba(255, 175, 234, 0)), to(#ffafea)), url('../images/sweet-bakery-3.jpg');
  background-image: linear-gradient(180deg, rgba(255, 175, 234, 0) 70%, #ffafea), url('../images/sweet-bakery-3.jpg');
}

.tale-container {
  position: relative;
  top: 0px;
  overflow: scroll;
  width: 100%;
  height: 100%;
}

.tales {
  position: relative;
  width: 100%;
  height: 80vh;
  margin-bottom: 0px;
}

.tales.stores {
  height: 100%;
  min-height: 70vh;
  margin-bottom: 59px;
}

.tale-scroll-track {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
}

.tale-track {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.tale-track.store {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.center-mini-section {
  display: block;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;
  text-align: center;
}

.body {
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

.welcome {
  margin-top: 60px;
  margin-bottom: 60px;
}

.store-container {
  position: relative;
  display: block;
  min-height: 50vh;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.store-thumb {
  width: 300px;
  margin-bottom: 10px;
}

.img-store {
  border-radius: 10px;
}

.h2-store-name {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #000;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: left;
  letter-spacing: 1px;
}

.logo-cont {
  position: relative;
  z-index: 3;
  width: 200px;
  margin-top: -95px;
}

.text-cont {
  padding: 20px 50px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.text-cont._3 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.sweet-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.sweet-container._2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.sweet-container._3 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.h1-sweet-bakery {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-family: Salient, sans-serif;
  color: #69bcf0;
  font-size: 84px;
  line-height: 50px;
  font-weight: 400;
}

.h1-sweet-bakery._2 {
  text-align: center;
}

.h1-sweet-bakery._3 {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.heading {
  font-weight: 400;
}

.heading.basic {
  font-family: 'Changa One', Impact, sans-serif;
  color: #774830;
  font-size: 50px;
}

.heading.basic.h2 {
  font-size: 26px;
}

.h2-sweet {
  color: #e05ec2;
  font-size: 28px;
  font-weight: 100;
  letter-spacing: 2px;
}

.ico-sweet-bakery {
  margin-right: auto;
  margin-left: auto;
}

.ico-wrapper {
  width: 200px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  text-align: center;
}

.prices {
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fffafd), to(#fffafd));
  background-image: linear-gradient(180deg, #fffafd, #fffafd);
}

.price {
  font-weight: 700;
}

.product-wrapper {
  display: -ms-grid;
  display: grid;
  margin-bottom: 30px;
  padding: 30px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 0.5fr 1fr;
  grid-template-columns: 0.5fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border-radius: 20px;
  background-color: #fff;
}

.product-wrapper._2 {
  -ms-grid-columns: 1fr 0.5fr;
  grid-template-columns: 1fr 0.5fr;
}

.img-product {
  width: 100%;
  border-radius: 20px;
}

.img-pr-wrapper {
  width: 100%;
}

.p-owner {
  padding-top: 10px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-weight: 100;
  letter-spacing: 0.5px;
}

.hero-store {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 0.75fr 1fr;
  grid-template-columns: 0.75fr 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.owner {
  padding: 20px 30px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  background-color: #384457;
}

.hero-social {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  padding-left: 0px;
  background-image: url('../images/facebook.png');
  background-position: 50% 50%;
  background-size: cover;
}

.hero-social.insta {
  background-image: url('../images/insta.png');
}

.hero-social.whatsapp {
  background-image: url('../images/whatsapp.png');
}

.hero-social.linkedin {
  background-image: url('../images/linkedin.png');
}

.store-owner {
  color: #fff;
  font-size: 40px;
  line-height: 45px;
  font-weight: 400;
  text-align: left;
}

.store-owner.sweet-bakery {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Salient, sans-serif;
  font-size: 90px;
}

.store-owner.col-empanada {
  font-family: Salient, sans-serif;
  font-size: 80px;
}

.hero-avatar {
  width: 80px;
  margin-right: 20px;
  padding-right: 0px;
  border-radius: 50%;
}

.hero-avatar.col-empanadas {
  border-radius: 50%;
}

.h6-owner {
  font-family: Roboto, sans-serif;
  color: #fff;
  font-weight: 300;
  letter-spacing: 2px;
}

.cta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.sweet-bakery-btn {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  background-color: #e05ec2;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #000;
}

.navbar.detail {
  position: -webkit-sticky;
  position: sticky;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: rgba(0, 0, 0, 0.7);
}

.our-logo {
  color: #fff;
  letter-spacing: 2px;
}

.brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-link-2 {
  color: #e6e6e6;
}

.arrow-icon {
  width: 40px;
  height: 40px;
  min-height: 40px;
  min-width: 40px;
  padding: 10px;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.navbar-cont {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.nav-menu {
  display: none;
}

.tales-basic {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.tales-basic-slider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70vh;
  max-width: 940px;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.tales-basic-slide {
  width: 100%;
  height: 100%;
}

.basic-scene-cont {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 940px;
  height: 100%;
  margin-right: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-image: url('../images/empanadas-02.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.basic-scene-cont._2 {
  background-image: url('../images/empanadas-01.jpg');
}

.basic-scene-cont._3 {
  background-image: url('../images/empanadas-03.jpg');
  background-position: 50% 100%;
}

.container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.basic-btn {
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 10px 40px;
  border-radius: 5px;
  background-color: #088f11;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.p-store-excerpt {
  margin-top: 10px;
}

.store-category {
  display: inline-block;
  margin-right: 5px;
  padding: 5px 15px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(100, 211, 211, 0.3)), to(rgba(100, 211, 211, 0.3)));
  background-image: linear-gradient(180deg, rgba(100, 211, 211, 0.3), rgba(100, 211, 211, 0.3));
  color: #000;
  font-size: 11px;
  line-height: 11px;
  text-decoration: none;
  text-transform: uppercase;
}

.store-category:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(100, 211, 211, 0.5)), to(rgba(100, 211, 211, 0.5)));
  background-image: linear-gradient(180deg, rgba(100, 211, 211, 0.5), rgba(100, 211, 211, 0.5));
}

.store-category:focus {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(100, 211, 211, 0.5)), to(rgba(100, 211, 211, 0.5)));
  background-image: linear-gradient(180deg, rgba(100, 211, 211, 0.5), rgba(100, 211, 211, 0.5));
}

.store-category-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  padding-left: 0px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  list-style-type: none;
}

.store-cat-tag-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.link-block {
  background-image: url('../images/facebook.png');
  background-position: 0px 0px;
  background-size: 125px;
}

@media screen and (max-width: 991px) {
  .scene-container {
    display: block;
    width: 100vw;
    margin-right: 10px;
    margin-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 0px;
    -ms-grid-columns: 2.25fr 2.75fr 1fr;
    grid-template-columns: 2.25fr 2.75fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .tale-container {
    height: 70vh;
  }
  .tale-container.store-wrapper {
    height: auto;
  }
  .tales {
    height: 70vh;
  }
  .tales.stores {
    height: 70vh;
    min-height: auto;
  }
  .tale-track {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .tale-track.store {
    height: auto;
  }
  .store-container {
    min-width: 40vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 0px;
    -ms-grid-columns: 2.25fr 2.75fr 1fr;
    grid-template-columns: 2.25fr 2.75fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .store-thumb {
    width: 100%;
  }
  .navbar {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .navbar-cont {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .tales-basic-slider {
    max-width: none;
  }
  .basic-scene-cont {
    display: block;
    width: 100vw;
    margin-right: 10px;
    margin-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 0px;
    -ms-grid-columns: 2.25fr 2.75fr 1fr;
    grid-template-columns: 2.25fr 2.75fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .basic-btn {
    padding-top: 19px;
    padding-bottom: 19px;
  }
}

@media screen and (max-width: 767px) {
  .service-name._1 {
    position: absolute;
  }
  .scene-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 0px;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .store-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-width: 60vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 0px;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .text-cont {
    padding-right: 20px;
    padding-left: 20px;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    text-align: center;
  }
  .text-cont._2 {
    padding-right: 0px;
    text-align: left;
  }
  .text-cont.basic {
    text-align: left;
  }
  .sweet-container {
    padding-right: 20px;
    padding-left: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .sweet-container._2 {
    text-align: left;
  }
  .product-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .light-product {
    padding-top: 30px;
  }
  .basic-scene-cont {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 0px;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .basic-btn {
    display: block;
    margin-right: 20px;
    margin-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    font-size: 16px;
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .h2-hero {
    font-size: 2vh;
    line-height: 2vh;
  }
  .service-name._1 {
    left: auto;
    top: auto;
    right: 0%;
    bottom: 0px;
  }
  .scene-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 80vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .tale-track.page {
    width: 240vw;
  }
  .store-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 71vw;
    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .h2-store-name {
    font-size: 18px;
    line-height: 20px;
  }
  .sweet-container._2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .p-owner {
    position: static;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Lato, sans-serif;
    font-size: 13px;
    font-weight: 300;
  }
  .hero-store {
    display: block;
    padding-bottom: 0px;
    grid-auto-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 0.25fr 1fr;
    grid-template-columns: 0.25fr 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
  .hero-social {
    margin-right: 10px;
    margin-left: 0px;
    padding-left: 0px;
  }
  .store-owner {
    margin-top: 10px;
  }
  .store-owner.sweet-bakery {
    margin-bottom: 20px;
  }
  .store-owner.col-empanada {
    margin-bottom: 30px;
  }
  .hero-avatar {
    width: 80px;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .h6-owner {
    margin-top: 20px;
  }
  .cta {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .basic-scene-cont {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

#w-node-9a66a06ac283-5158210f {
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-e3c3d624ce9d-5158210f {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-dd7a074e676d-5158210f {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-a8e7363fe674-5158210f {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-a8e7363fe67d-5158210f {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-34ba4962d309-4962d306 {
  -ms-grid-column-align: end;
  justify-self: end;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-34ba4962d30a-4962d306 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-34ba4962d30c-4962d306 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
}

#w-node-34ba4962d310-4962d306 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
}

#w-node-4a48025ef242-9c0e5c7d {
  -ms-grid-column-align: end;
  justify-self: end;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-4a48025ef243-9c0e5c7d {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-4a48025ef245-9c0e5c7d {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
}

#w-node-4a48025ef249-9c0e5c7d {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
}

@media screen and (max-width: 991px) {
  #w-node-9a66a06ac283-5158210f {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-column-span: 1;
    grid-column-end: 4;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

@media screen and (max-width: 479px) {
  #w-node-34ba4962d308-4962d306 {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }
  #w-node-34ba4962d30c-4962d306 {
    -ms-grid-row-align: auto;
    align-self: auto;
    -ms-grid-column-align: auto;
    justify-self: auto;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
    -ms-grid-row: 3;
    grid-row-start: 3;
  }
  #w-node-4a48025ef241-9c0e5c7d {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }
  #w-node-4a48025ef245-9c0e5c7d {
    -ms-grid-row-align: auto;
    align-self: auto;
    -ms-grid-column-align: auto;
    justify-self: auto;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
    -ms-grid-row: 3;
    grid-row-start: 3;
  }
}

@font-face {
  font-family: 'Salient';
  src: url('../fonts/SalientRegular.ttf') format('truetype'), url('../fonts/Salient.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}